/* ============================================
   MAKE YOUR LIFE EASIER - MAIN STYLESHEET
   ============================================
   
   CSS Modules are located in: src/styles/
   
   For development: Use @import below
   For production/Electron: Run `node build-css.js` to concatenate
   
   ============================================ */

@import url('./src/styles/_variables.css');
@import url('./src/styles/_base.css');
@import url('./src/styles/_layout.css');
@import url('./src/styles/_titlebar.css');
@import url('./src/styles/_sidebar.css');
@import url('./src/styles/_user-info.css');
@import url('./src/styles/_navigation.css');
@import url('./src/styles/_cards.css');
@import url('./src/styles/_buttons.css');
@import url('./src/styles/_forms.css');
@import url('./src/styles/_status.css');
@import url('./src/styles/_toast.css');
@import url('./src/styles/_errors.css');
@import url('./src/styles/_modals.css');
@import url('./src/styles/_changelog.css');
@import url('./src/styles/_update.css');
@import url('./src/styles/_special-components.css');
@import url('./src/styles/_dlc.css');
@import url('./src/styles/_password-manager.css');
@import url('./src/styles/_animations.css');
@import url('./src/styles/_responsive.css');
@import url('./src/styles/_utilities.css');
@import url('./src/styles/_renderer-styles.css');