/* ============================================
   ERROR CARDS
   ============================================ */

#error-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1200;
}

.error-card {
  padding: 1rem;
  overflow: hidden;
  border: 1px solid #c5c5c5;
  border-radius: 12px;
  background-color: #d9d9d92f;
  backdrop-filter: blur(8px);
  min-width: 344px;
  color: var(--text-color);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.error-card .error-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 10;
  border: 0.5px solid #525252;
  border-radius: 8px;
  overflow: hidden;
}

.error-card .error-terminal {
  display: flex;
  flex-direction: column;
}

.error-card .error-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  min-height: 40px;
  padding-inline: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #202425;
}

.error-card .error-title {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 2.5rem;
  user-select: none;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #8e8e8e;
}

.error-card .error-title svg {
  height: 18px;
  width: 18px;
  margin-top: 2px;
  color: #006adc;
}

.error-card .error-body {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow-x: auto;
  padding: 1rem;
  line-height: 19px;
  color: white;
  background-color: black;
  white-space: pre;
}

.error-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: 0.65px solid #c1c2c5;
  margin-left: 0.5rem;
  border-radius: 6px;
  background-color: #202425;
  color: #8e8e8e;
  cursor: pointer;
}

.error-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: 0.65px solid #c1c2c5;
  margin-left: auto;
  border-radius: 6px;
  background-color: #202425;
  color: #8e8e8e;
  cursor: pointer;
}

.error-copy > svg {
  width: 20px;
  height: 20px;
}

.error-copy:active > svg > path,
.error-copy:focus-within > svg > path {
  animation: clipboard-check 500ms linear forwards;
}

.error-close > svg {
  width: 20px;
  height: 20px;
}

.error-close:active > svg > path,
.error-close:focus-within > svg > path {
  animation: clipboard-check 500ms linear forwards;
}

.error-card .error-pre {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-wrap: nowrap;
  white-space: pre;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
}

.error-card .error-pre .error-msg {
  color: #e34ba9;
  white-space: pre;
}

/* Alerts */
.debloat-alert {
  width: 100%;
  padding: 1rem 1.25rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--accent-color-light);
  background: #171920;
  color: var(--accent-color);
  font-size: 0.9rem;
  line-height: 1.4;
}

.debloat-alert-content {
  margin: 0;
  color: white;
  font-weight: bold;
}
